.app.dark {
    --bg-color: #000058;
    --inverted-bg-color: #ececec;
    --primary-color: rgb(1 110 1);
    --secondary-color: rgb(3 240 3);
    --inverted-primary-color: rgb(16 107 253);
    --inverted-secondary-color: rgb(0 18 151);
}