.app.light {
    --bg-color: #ececec;
    --inverted-bg-color: #000058;
    --primary-color: rgb(15 38 207);
    --secondary-color: rgb(0 97 254);
    --inverted-primary-color:rgb(3 240 3);
    --inverted-secondary-color:rgb(1 110 1);
}