.app_orange_theme {
    --bg-color: #FBF8F4;
    --inverted-bg-color: #faab51;
    --primary-color: #a42d23;
    --secondary-color: #d01f0e;
    --inverted-primary-color: #ebebeb;
    --inverted-secondary-color: #faf4fb;
}